body{
    margin:0;
}
#heart{
    height: 60px;
    width: 60px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
#backgroundImage{
    height: 100vh;
    width: 40vw;
}
.mainSection{
    display: flex;
}
.leftSide{
    position: relative;
}
.rightSide{
    height: 100vh;
    width: 60vw;
    background-color: bisque;
}
.imageText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 50vh;
    margin:0 auto;
    top: 30vh;
    left: 10vw
}