body{
    margin:0;
}
#heart{
    height: 60px;
    width: 60px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
#backgroundImage{
    height: 100vh;
    width: 40vw;
}
.mainSection{
    display: flex;
}
.leftSide{
    position: relative;
}
.rightSide{
    height: 100vh;
    width: 60vw;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 50vh;
    margin:0 auto;
    top: 30vh;
    left: 10vw;
    font-family: "Pacifico", cursive;

}
.rightText{
    text-align: center;
    margin-top: 50px;

}
form{
    display: flex;
    flex-direction: column;
    margin-top: 100px;

}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
  input:focus {
    border: 3px solid #555;
  }